#CONFIG_LOG_DEFAULT_LEVEL_ERROR= 
#CONFIG_LOG_DEFAULT_LEVEL_INFO=y

CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y
CONFIG_ESPTOOLPY_AFTER_NORESET=y

CONFIG_ESPTOOLPY_FLASHSIZE_4MB=
CONFIG_ESPTOOLPY_FLASHSIZE_8MB=
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions-16MiB.csv"

# Enable Wiznet 5500 esp-idf support
CONFIG_ETH_SPI_ETHERNET_W5500=y

# Configure USB CDC
CONFIG_TINYUSB_DESC_USE_ESPRESSIF_VID=
CONFIG_TINYUSB_DESC_CUSTOM_VID=0x0483
CONFIG_TINYUSB_DESC_USE_DEFAULT_PID=
CONFIG_TINYUSB_DESC_CUSTOM_PID=0x5740
CONFIG_TINYUSB_DESC_BCD_DEVICE=0x0100
CONFIG_TINYUSB_DESC_MANUFACTURER_STRING="Interstellar Soft"
CONFIG_TINYUSB_DESC_PRODUCT_STRING="ESP32-S3 Demo board"
CONFIG_TINYUSB_DESC_SERIAL_STRING="13370560044"
CONFIG_TINYUSB_DESC_CDC_STRING="ISoft CDC Device"
